@import "tailwindcss";

/*background code here*/

/* Base "no-flash" state for page transitions */

/* app/globals.css */
.route-fade {
  opacity: 0;
  will-change: opacity;
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  .route-fade { opacity: 1 !important; }
}

.gradient-anim {
	animation: gradient 10s ease infinite;
	background: linear-gradient(-45deg, #7DC4E4, #c6a0f6, #8bd5ca, #f5a97f);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@layer components {
	.underline-grow {
		@apply relative inline-block;
	}

	.underline-grow::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 0;
		background-color: #30306B;
		transition: width 0.3s ease;
	}

	.underline-grow:hover::after {
		width: 100%;
	}
}